{% extends 'base/base.html' %}
{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
        <div class="right_col" role="main">

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      Listado de la 3ra Revisión
                  </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                  <!--<div class="x_title">
                    <h2>Paciente <small>Registrar</small></h2>

                    <div class="clearfix"></div>
                  </div>-->


                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Folio del Oficio</th>
                          <th>Nombre del 3ra Revisor</th>
                          <th>Estado del  3ra Revisor</th>
                          <th>Observaciones</th>
                          <th style="text-align: center">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for revision3 in object_list %}
                        <tr>
                          <th>{{ revision3.id }}</th>
                          <td>{{ revision3.registro.numeroOficio }}</td>
                          <td>{{ revision3.nombreRevisor3 }}</td>
                          <td>
                            {% if revision3.estado3 == 'Revisado' %}
                              <span class="label label-success">{{ revision3.estado3 }}</span>
                              {% elif revision3.estado3 == 'En revision' %}
                              <span class="label label-primary">{{ revision3.estado3 }}</span>
                              {% elif revision3.estado3 == 'Cancelado' %}
                              <span class="label label-danger">{{ revision3.estado3 }}</span>
                            {% endif %}
                          </td>
                          <td>{{ revision3.observacion3 }}</td>
                          <td style="text-align: center">
                              <a class="btn btn-primary" href="{% url 'revision3:editar' revision3.id %}" data-toggle="tooltip" title="Editar Oficio"><i class="fa fa-pencil"></i></a>
                              <a class="btn btn-danger" href="{% url 'revision3:eliminar' revision3.id %}" data-toggle="tooltip" title="Eliminar Oficio"><i class="fa fa-trash"></i></a></td>
                        </tr>
                       {% endfor %}

                      </tbody>
                    </table>



              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        </div>
    </div>
{% endblock %}