{% extends 'base/base.html' %}
{% block extrahead %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/jquery-ui/jquery-ui.min.js' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block content %}
<div class="container body">
    <div class="main_container">

        <!-- page content -->
        <div class="right_col" role="main">

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      {% if request.get_full_path == "/revision/nuevo" %}
                        Registrar la Revisión 
                        {% else %}
                        Editar Revisión
                        {% endif %}
                  </h3>
              </div>
            </div>

            <div class="container">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" action='' method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.registro.name }}">{{ form.registro.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.registro }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="x_title">
                        <div class="clearfix"></div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombreRevisor1.name }}">{{ form.nombreRevisor1.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.nombreRevisor1 }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.observacion1.name }}">{{ form.observacion1.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.observacion1 }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.estado1.name }}">{{ form.estado1.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <select class="control-label col-md-3 col-sm-3 col-xs-12" name="estado1">
                            <option></option>
                            <option>Revisado</option>
                            <option>En revision</option>
                            <option>Cancelado</option>
                          </select>                        
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>

                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a href="{% url 'revision:listar' %}" class="btn btn-danger">Cancelar</a>
                          <button id="send" type="submit" class="btn btn-success">Guardar</button>
                        </div>
                      </div>


                      <div class="x_title">
                        <div class="clearfix"></div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombreRevisor2.name }}">{{ form.nombreRevisor2.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.nombreRevisor2 }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.observacion2.name }}">{{ form.observacion2.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.observacion2 }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.estado2.name }}">{{ form.estado2.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.estado2 }}
                        </div>
                      </div>
                     
                      <div class="x_title">
                        <div class="clearfix"></div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombreRevisor3.name }}">{{ form.nombreRevisor3.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.nombreRevisor3 }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.observacion3.name }}">{{ form.observacion3.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.observacion3 }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.estado3.name }}">{{ form.estado3.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.estado3 }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.concluido.name }}">{{ form.concluido.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.concluido }}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.oficioConcluido.name }}">{{ form.oficioConcluido.label }}
                        </label>
                        <div class="control-label col-md-6 col-sm-6 col-xs-12">
                            {{ revision.oficioConcluido }}
                        </div>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <br />

          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              
            </div>

          </div>


          
        </div>
        <!-- /page content -->

        
    </div>
    </div>
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.scrollLock.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.appear.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'assets/js/core/js.cookie.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <script>
        $(function () {
            // Init page helpers (BS Datepicker + BS Colorpicker + Select2 + Masked Input + Tags Inputs plugins)
            App.initHelpers(['datepicker']);
        });
    </script>

{% endblock %}