{% extends 'base/base.html' %}
{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
        <div class="right_col" role="main">

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      Consulta
                  </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                 <div class="x_title">
                    <div class="clearfix"></div>
                  </div>

                  {% if oficio %}
                    {% for oficio in numOficio %}
                    <h3>
                      Detalles del registro del oficio: 
                    </h3>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="text-align: center">#</th>
                          <th>Folio del oficio</th>
                          <th>Nombre del solicitante</th>
                          <th>Asunto</th>
                          <th>Coordinador</th>
                          <th>Empresa</th>
                          <th>Fecha Recibido</th>
                          <th>Modalidad</th>
                          <th>Fecha de Entrega</th>
                          <th>Municipio</th>
                          <th>Observaciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="text-align: center">{{ oficio.id }}</th>
                          <td>{{ oficio.numeroOficio }}</td>
                          <td>{{ oficio.nombreEntrega }}</td>
                          <td>{{ oficio.asunto }}</td>
                          <td>{{ oficio.coordinador }}</td>
                          <td>{{ oficio.empresa }}</td>
                          <td>{{ oficio.fechaRecibido }}</td>
                          <td>{{ oficio.modalidad }}</td>
                          <td>{{ oficio.fechaEntrega }}</td>
                          <td>{{ oficio.municipio }}</td>
                          <td>{{ oficio.observacion }}</td>
                        </tr>
                      </tbody>
                    </table>
                    {% endfor %}
                  {% endif %}



                  {% if id %}
                    {% for id in idRevision %}
                      
                      <h3>
                      Detalles de los registros de revisión: 
                      </h3>
                      <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="text-align: center">ID de Revisión</th>
                          <th style="text-align: center">Folio del Ofició</th>
                          <th style="text-align: center">1er Revisor</th>
                          <th style="text-align: center">1ra Observación</th>
                          <th style="text-align: center">Estado de 1er Revisor</th>
                          <th style="text-align: center">2do Revisor</th>
                          <th style="text-align: center">2da Observación</th>
                          <th style="text-align: center">Estado del 2do Revisor</th>
                          <th style="text-align: center">3er Revisor</th>
                          <th style="text-align: center">3ra Observación</th>
                          <th style="text-align: center">Estado del 3er Revisor</th>
                          <th style="text-align: center">Estado del Trámite</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="text-align: center">{{ id.id }}</th>
                          <td style="text-align: center">{{ id.registro }}</td>
                          <td style="text-align: center">{{ id.nombreRevisor1 }}</td>
                          <td style="text-align: center">{{ id.observacion1 }}</td>
                          <td style="text-align: center">
                            {% if id.estado1 == 'Revisado' %}
                              <h2><span class="label label-success">{{ id.estado1 }}</span>
                                </h2> 
                              {% elif id.estado1 == 'En revision' %}
                              <h2><span class="label label-primary">{{ id.estado1 }}</span>
                                </h2> 
                              {% elif id.estado1 == 'Cancelado' %}
                              <h2><span class="label label-danger">{{ id.estado1 }}</span>
                                </h2>
                            {% endif %}
                          </td>
                          <td style="text-align: center">{{ id.nombreRevisor2 }}</td>
                          <td style="text-align: center">{{ id.observacion2 }}</td>
                          <td style="text-align: center">
                            {% if id.estado2 == 'Revisado' %}
                              <h2><span class="label label-success">{{ id.estado2 }}</span>
                              </h2> 
                              {% elif id.estado2 == 'En revision' %}
                              <h2><span class="label label-primary">{{ id.estado2 }}</span>
                                </h2> 
                              {% elif id.estado2 == 'Cancelado' %}
                              <h2><span class="label label-danger">{{ id.estado2 }}</span>
                              </h2>
                            {% endif %}
                          </td>
                          <td style="text-align: center">{{ id.nombreRevisor3 }}</td>
                          <td style="text-align: center">{{ id.observacion3 }}</td>
                          <td style="text-align: center">
                            {% if id.estado3 == 'Revisado' %}
                              <h2><span class="label label-success">{{ id.estado3 }}</span>
                                </h2> 
                              {% elif revision.estado3 == 'En revision' %}
                              <h2><span class="label label-primary">{{ id.estado3 }}</span>
                                </h2> 
                              {% elif id.estado3 == 'Cancelado' %}
                              <h2><span class="label label-danger">{{ id.estado3 }}</span>
                              </h2>
                            {% endif %}
                          </td>
                          <td>
                            {% if id.concluido == 'Concluido' %}
                              <h2>
                              <span class="label label-success">{{ id.concluido }}</span>
                              </h2> 
                              {% elif id.concluido == 'Reenviado' %}
                              <h2><span class="label label-warning">{{ id.concluido }}</span>
                              </h2>
                              {% endif %}
                          </td>
                        </tr>

                      </tbody>
                    </table>


                    {% endfor %}
                  {% endif %}
                   
                    <ul class="pager">
                      <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                      </li>
                      <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a> 
                        {% endif %}
                      </li>
                    </ul> 


              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        </div>
    </div>
{% endblock %}