{% extends 'base/base.html' %}
{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
        <div class="right_col" role="main">

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      Realizar consulta de acuerdo a los datos correspondientes
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                 <div class="x_title">
                    <div class="clearfix"></div>
                  </div>

                  <div class="busqueda">
                    <h3>
                      Consultar Registro de Oficio
                    </h3>
                    <form class="navbar-search pull-left" action="/consulta/buscar/" method="POST">
                      {% csrf_token  %}
                      <input type="text" name="buscalo" class="control-label col-md-12 col-sm-12 col-xs-12 search-query" placeholder="Ingresar número de folio">
                      <div class="btn-group">
                        <button class="btn btn-primary" type="submit">
                           Buscar
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="x_title">
                    <div class="clearfix"></div>
                  </div>

                  <div class="busqueda">
                    <h3>
                      Consultar Registro de Revisión
                    </h3>
                    <form class="navbar-search pull-left" action="/consulta/buscar/" method="POST">
                      {% csrf_token  %}
                      <input type="text" name="buscalo" class="control-label col-md-12 col-sm-12 col-xs-12 search-query" placeholder="Ingresar ID de Revisión">
                      <div class="btn-group">
                        <button class="btn btn-primary" type="submit">
                           Buscar
                        </button>
                      </div>
                    </form>
                  </div>

                   <div class="x_title">
                    <div class="clearfix"></div>
                  </div>

                    
                    <ul class="pager">
                      <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                      </li>
                      <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a> 
                        {% endif %}
                      </li>
                    </ul> 


              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        </div>
    </div>
{% endblock %}