{% extends 'base/base2.html' %}
{% block navbar %}
{% endblock %}
{% block content %}


<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form class="form-horizontal form-label-left" >
					<h1 class="text-center">Su contraseña se reestableció correctamente</h1>
					<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>

</div>



