

{% extends 'base/base2.html' %}
{% block navbar %}
{% endblock %}
{% block content %}


<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form class="form-horizontal form-label-left" method="POST">
                        {% csrf_token %}
                      <h1 class="text-center">Te enviaremos un correo con un enlace para reestablecer tu contraseña</h1>
                      <div class="text-center">
                          <label class="text-center" for="id_email">Correo electrónico:</label> {{ form.email }}
                        <input type="submit" class="btn btn-primary" value="Enviar" />
                        <a href="{% url 'login' %}" class="btn btn-danger">Cancelar</a>
                      </div>
                      </form>
                {% endblock %}
            </div>
        </div>
    </div>

</div>



