{% extends 'base/base.html' %}

{% block content %}
<div class="container body">
    <div class="main_container">

        <!-- page content -->
        <div class="right_col" role="main">

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      Sitio de administración

                  </h3>
              </div>


            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_content">

                    <h1>Hola, esta página se encuentra en construcción, ayúdenos a mejorar con sus comentarios y sugerencias. </h1>
                      <br>
                      <h1>¡Gracias!</h1>
                      <br>
                      <br>
                      <h4></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <br />

          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              
            </div>

          </div>


          
        </div>
        <!-- /page content -->

        
      </div>
    </div>
{% endblock %}