{% extends 'base/base.html' %}
{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
        <div class="right_col" role="main">

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      Listado de Oficios Capturados
                  </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                  <div class="x_title">
                    <div class="clearfix"></div>
                  </div>

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Folio de oficio</th>
                          <th>Nombre del solicitante</th>
                          <th>Asunto</th>
                          <th>Coordinador</th>
                          <th>Empresa</th>
                          <th>Oficio inicial</th>
                          <th style="text-align: center">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for registro in object_list %}
                        <tr>
                          <td>{{ registro.numeroOficio }}</td>
                          <td>{{ registro.nombreEntrega }}</td>
                          <td>{{ registro.asunto }}</td>
                          <td>{{ registro.coordinador }}</td>
                          <td>{{ registro.empresa }}</td>
                          <td style="text-align: center">
                            <a class="btn btn-success" href="{% url 'registro:visualizar' registro.id %}" data-toggle="tooltip" title="Visualizar Oficio"><i class="fa fa-eye"></i></a> 
                          </td>
                          <td style="text-align: center">
                              <a class="btn btn-primary" href="{% url 'registro:editar' registro.id %}" data-toggle="tooltip" title="Editar Oficio"><i class="fa fa-pencil"></i></a>
                              <a class="btn btn-danger" href="{% url 'registro:eliminar' registro.id %}" data-toggle="tooltip" title="Eliminar Oficio"><i class="fa fa-trash"></i></a>
                          </td>
                        </tr>
                       {% endfor %}

                      </tbody>
                    </table>

                    <ul class="pager">
                      <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                      </li>
                      <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a> 
                        {% endif %}
                      </li>
                    </ul> 

              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        </div>
    </div>

{% endblock %}