{% extends 'base/base.html' %}
{% block extrahead %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/jquery-ui/jquery-ui.min.js' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block content %}
<div class="container body">
    <div class="main_container">

        <!-- page content -->
        <div class="right_col" role="main">

         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                      {% if request.get_full_path == "/registro/nuevo" %}
                        Registrar Nuevo Oficio
                        {% else %}
                        Editar Oficio
                        {% endif %}
                  </h3>
              </div>
            </div>

            <div class="container">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">

                    <form class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.numeroOficio.name }}">{{ form.numeroOficio.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.numeroOficio }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombreEntrega.name }}">{{ form.nombreEntrega.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.nombreEntrega }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.asunto.name }}">{{ form.asunto.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.asunto }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.coordinador.name }}">{{ form.coordinador.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.coordinador }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.empresa.name }}">{{ form.empresa.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.empresa }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.fechaRecibido.name }}">{{ form.fechaRecibido.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.fechaRecibido }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.modalidad.name }}">{{ form.modalidad.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.modalidad }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.fechaEntrega.name }}">{{ form.fechaEntrega.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.fechaEntrega }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.municipio.name }}">{{ form.municipio.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.municipio }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.observacion.name }}">{{ form.observacion.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.observacion }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.oficio.name }}">{{ form.oficio.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.oficio }}
                        </div>
                        {% for error in form.nombre.errors %}
                          <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                        {% endfor %}
                      </div>

                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a href="{% url 'registro:listar' %}" class="btn btn-danger">Cancelar</a>
                          <button id="send" type="submit" class="btn btn-success">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <br />

          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
            	
            </div>

          </div>


          
        </div>
        <!-- /page content -->

        
    </div>
    </div>
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.scrollLock.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.appear.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'assets/js/core/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'assets/js/core/js.cookie.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <script>
        $(function () {
            // Init page helpers (BS Datepicker + BS Colorpicker + Select2 + Masked Input + Tags Inputs plugins)
            App.initHelpers(['datepicker']);
        });
    </script>

{% endblock %}